/* global style */
body {
 font-family: "Nunito Sans", sans-serif;
 color: #fff;
}
h1,
h2 {
 font-family: "Roboto", sans-serif;
}
a {
 text-decoration: none;
 color: #fff;
}
img {
 display: block;
 max-width: 100%;
}
button {
 border: none;
}

/* header section */
header {
 background: linear-gradient(-80deg, #25201d, #252541);
 min-height: 100vh;
}
nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1em 0;
}
nav p {
 font-size: 1.8rem;
 font-weight: bold;
 margin: 0;
}
nav ul {
 display: flex;
 list-style: none;
 align-items: center;
 margin: 0;
}
nav ul li {
 margin: 0 1em;
}
nav ul li a {
 transition: all 300ms;
}
nav ul li a:hover {
 color: #5454d4;
}
nav ul li:first-child a {
 color: #5454d4;
}
nav ul li a {
 margin: 0;
 font-weight: lighter;
}
nav button {
 background-color: transparent;
 color: #fff;
 font-weight: lighter;
 border: 0.5px solid #fff;
 border-radius: 3px;
 padding: 0.3em 1.3em;
 transition: all 300ms;
}
nav button:hover {
 background-color: #5454d4;
 border: 0.5px solid transparent;
}
.header-content {
 border: 1px solid red;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 3em;
}
.header-content h1 {
 font-size: 5rem;
 font-weight: bold;
}
.header-content p {
 font-weight: lighter;
}
.guy-img {
 position: relative;
 width: 100px;
}
.guy-img::before {
 position: absolute;
 content: "";
 width: 1000px;
 height: 100px;
 background-color: red;
 top: 100px;
 left: 100px;
}
